<div class="jumbotron">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">
        <img src="img/yeoman.png" alt="I'm Yeoman">
        <br> Always a pleasure scaffolding your apps.
    </p>
    <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div class="row marketing">
    <form id="uploadForm" enctype="multipart/form-data" action="/api/users/avatar/1" method="post">
        <input type="file" name="avatar" />
        <input type="submit" value="Upload Image" name="submit">
    </form>
</div>